:root {
  --robotfont: "Orbitron", sans-serif;
  --spacefont: "Space Mono", monospace;
  --codeprofont: "JetBrains Mono", monospace;
  --spacegray: "#ccc";
  --lightcolor: #64ffda;
  --spacelight: #ccd6f6;
  --dmsansfont: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: unset;
}
body {
  background-color: #0b192d;
  min-height: 100vh;
  width: 100%;
}

section {
  padding: 0 200px;
  @media screen and (max-width: 1040px) {
    padding: 0 100px;
  }
}

.section-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  .title-body {
    h3 {
      font-size: 40px;
      font-family: var(--robotfont);
      color: white;
      margin-left: 45px;
      margin-right: 55px;
      @media screen and (max-width: 1040px) {
        font-size: 30px;
      }
      span {
        color: var(--lightcolor);
        font-family: var(--codeprofont);
      }
    }
    p {
      color: white;
      opacity: 0.2;
      font-size: 18px;
      font-family: var(--codeprofont);
      &:nth-child(3) {
        text-align: right;
      }
      @media screen and (max-width: 1040px) {
        font-size: 14px;
      }
    }
  }
}

.app {
  max-width: 1440px;
  margin: auto;
  position: relative;
}
.header {
  font-family: var(--robotfont);
  color: white;
  padding: 0 60px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  z-index: 1000;

  @media screen and (max-width: 1040px) {
    padding: 0 40px;
  }
  .logo {
    a {
      font-size: 20px;
      transition: 0.5s;
      svg {
        height: 40px;
        width: 40px;
        path {
          stroke: var(--lightcolor);
        }
        path:nth-child(1) {
          stroke-dasharray: 376;
          stroke-dashoffset: 376;
          animation: anim-line 1s ease forwards;
        }
        path:nth-child(2) {
          stroke-dasharray: 440;
          stroke-dashoffset: 440;
          animation: anim-line 1s cubic-bezier(1, -0.04, 0.58, 1) forwards;
        }
      }
      &:hover {
        color: var(--lightcolor);
      }
    }
  }

  .menu-items {
    display: flex;
    .menu-item {
      display: flex;
      margin-left: 30px;
      font-size: 12px;
      font-family: var(--spacefont);
      align-items: center;
      @media screen and (max-width: 1040px) {
        margin-left: 20px;
      }
      .id {
        margin-right: 5px;
        color: var(--lightcolor);
      }
      .brc {
        font-family: var(--robotfont);
        opacity: 0.4;
      }
      .title {
        opacity: 0.8;
        transition: 0.2s;
      }
      &:hover {
        .title {
          color: var(--lightcolor);
        }
      }
    }
  }
}

.button1 {
  outline: none;
  border: 1px solid var(--lightcolor);
  background-color: transparent;
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 6px;
  cursor: pointer;
  p {
    font-family: var(--robotfont);
    color: var(--lightcolor);
  }
  &:hover {
    background-color: #64ffdb3b;
  }
  transition: 0.2s;
}

.tag {
  font-family: var(--codeprofont);
  display: flex;
  .brc {
    color: white;
    opacity: 0.2;
  }
  p {
    color: var(--lightcolor);
  }
}

.landing-page {
  padding: 0 150px;
  padding-top: 60px;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  max-height: 700px;
  @media screen and (max-width: 1040px) {
    padding: 0 100px;
    flex-direction: column;
    justify-content: center;
  }
  .landing-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    .landingsvg {
      #svgname {
        animation: fill 0.5s ease forwards 2s;
        path {
          stroke: white;
          stroke-linejoin: round;
          stroke-linecap: round;
        }
        path:nth-child(1) {
          stroke-dasharray: 268;
          stroke-dashoffset: 268;
          animation: anim-line 2s ease forwards;
        }
        path:nth-child(2) {
          stroke-dasharray: 241;
          stroke-dashoffset: 241;
          animation: anim-line 2s ease forwards 0.1s;
        }
        path:nth-child(3) {
          stroke-dasharray: 248;
          stroke-dashoffset: 248;
          animation: anim-line 2s ease forwards 0.2s;
        }
        path:nth-child(4) {
          stroke-dasharray: 236;
          stroke-dashoffset: 236;
          animation: anim-line 2s ease forwards 0.3s;
        }
        path:nth-child(5) {
          stroke-dasharray: 248;
          stroke-dashoffset: 248;
          animation: anim-line 2s ease forwards 0.4s;
        }
        path:nth-child(6) {
          stroke-dasharray: 209;
          stroke-dashoffset: 209;
          animation: anim-line 2s ease forwards 0.5s;
        }
        path:nth-child(7) {
          stroke-dasharray: 248;
          stroke-dashoffset: 248;
          animation: anim-line 2s ease forwards 0.6s;
        }

        path:nth-child(8) {
          stroke-dasharray: 251;
          stroke-dashoffset: 251;
          animation: anim-line 2s ease forwards 0.7s;
        }
        path:nth-child(9) {
          stroke-dasharray: 251;
          stroke-dashoffset: 251;
          animation: anim-line 2s ease forwards 0.8s;
        }
        path:nth-child(10) {
          stroke-dasharray: 241;
          stroke-dashoffset: 241;
          animation: anim-line 2s ease forwards 0.9s;
        }
        path:nth-child(11) {
          stroke-dasharray: 247;
          stroke-dashoffset: 247;
          animation: anim-line 2s ease forwards 1s;
        }

        @keyframes anim-line {
          to {
            stroke-dashoffset: 0;
          }
        }
      }

      @keyframes fill {
        from {
          fill: transparent;
        }
        to {
          fill: white;
        }
      }
    }

    .tab1 {
      font-size: clamp(14px, 4vw, 16px);
    }
    .tab2 {
      margin-top: 20px;
      flex-direction: column;
      color: white;
      font-weight: bold;

      h1 {
        margin-left: 50px;
        font-family: var(--robotfont);
        font-size: 50px;
      }
    }
    .tab3 {
      flex-direction: column;
      margin-top: 20px;
      p {
        margin-left: 50px;
        font-size: 16px;
        font-family: var(--dmsansfont);
        color: rgba(255, 255, 255, 0.473);
        line-height: 30px;
        color: var(--lightcolor);
        text-align: justify;
        opacity: 0.6;
      }
    }
    .tab4 {
      margin-top: 5px;
      h1 {
        font-size: 30px;
        color: rgb(191, 191, 191);
      }
    }
  }

  .download-resume {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    @media screen and (max-width: 1040px) {
      margin-top: 100px;
      margin-left: 20px;
    }
    .download-button {
      position: relative;
      height: 170px;
      width: 170px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .box {
        position: absolute;
        height: 200px;
        width: 200px;
        border-radius: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        animation: resumebutton 180s linear infinite;
        svg {
          height: 100%;
          width: 100%;
        }
      }
      .box2 {
        animation: resumebutton2 180s linear infinite;
      }
      .under-box {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 100px;
        width: 100px;
        color: var(--lightcolor);
        padding: 10px 0;
        box-sizing: border-box;
        font-family: var(--codeprofont);
        p {
          font-family: var(--robotfont);
        }
        .brc {
          letter-spacing: 2px;
          font-size: 20px;
          font-weight: bold;
          font-family: var(--robotfont);
        }
        .background {
          font-size: 80px;
          position: absolute;
          font-weight: bold;
          font-family: var(--robotfont);
          height: 110px;
          width: 110px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #64ffdb1d;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
          &.bg2 {
            height: 170px;
            width: 170px;
            transform: unset;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: unset;
          }
          &.bg3 {
            height: 100px;
            width: 100px;
            border: 1px solid rgba(255, 255, 255, 0.258);
            border-radius: 100px;
          }
        }
      }
    }
  }
}

.side-displays-right {
  position: fixed;
  left: 30px;
  width: 60px;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  .line {
    height: 150px;
    width: 1px;
    background-color: var(--spacelight);
  }
  .contact-items {
    margin-bottom: 10px;
    position: relative;
    .contact-item {
      position: relative;
      color: white;
      height: 40px;
      cursor: pointer;
      margin-bottom: 10px;
      width: 24px;
      transition: 0.5s all;

      a {
        bottom: 0;
        position: absolute;
        transition: 0.5s all;

        i {
          font-size: 24px;
          color: var(--spacelight);
          transition: 0.5s all;
        }
      }
      &:hover {
        a {
          transform: translateY(-10px);
          i {
            color: var(--lightcolor);
          }
        }
      }
    }
  }
}

.side-displays-left {
  position: fixed;
  right: 30px;
  width: 60px;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  .line {
    height: 150px;
    width: 1px;
    background-color: var(--spacelight);
  }
  .mail {
    color: white;
    transform: rotate(90deg);
    position: absolute;
    bottom: 260px;
    font-family: var(--spacefont);
    letter-spacing: 2px;
    font-weight: 100;
    transition: 0.5s all;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      bottom: 270px;
      color: var(--lightcolor);
    }
  }
}

.about-me {
  .about-sec {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 40px;
    .profilepic {
      width: 40%;
      position: relative;
      .img {
        position: relative;
        height: 300px;
        width: 300px;
        border-top-right-radius: 80px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: red;
        margin-left: 30px;
        @media screen and (max-width: 1040px) {
          width: 250px;
          height: 250px;
          margin-left: 0;
        }
        img {
          border-top-right-radius: 80px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          height: 100%;
          width: 100%;
          @media screen and (max-width: 1040px) {
            border-top-right-radius: 40px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          bottom: -30px;
          left: -30px;
          border-radius: 20px;
          border: 2px solid var(--lightcolor);
          z-index: -1;
          @media screen and (max-width: 1040px) {
            border-radius: 10px;
            bottom: -15px;
            left: -15px;
          }
        }
      }
    }
    .about-me-text {
      width: 60%;
      .text {
        padding-left: 0;
        padding-left: 40px;
        font-family: var(--dmsansfont);
        line-height: 22px;
        font-size: 16px;
        text-align: justify;
        color: var(--spacelight);
        opacity: 0.8;
        @media screen and (max-width: 1040px) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

  .brc {
    font-size: 16px;
    color: var(--spacelight);
    color: white;
    opacity: 0.2;
  }

  .expertise {
    margin-top: 50px;
    .a-title {
      margin: 40px 0;
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      h5 {
        font-size: 20px;
        color: rgb(234, 250, 255);
        font-family: var(--robotfont);
        margin-right: 10px;
      }
      .version {
        color: var(--lightcolor);
        font-family: var(--codeprofont);
        margin: 0 10px;
      }
    }
  }
}

.skills {
  .my-skills {
    margin-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .skill {
      width: 16%;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .icon {
        height: 35px;
        width: 35px;
      }
      p {
        color: white;
        font-family: var(--dmsansfont);
        font-size: 12px;
        margin-top: 6px;
        text-transform: uppercase;
      }
    }
  }
}

.experience {
  min-height: 100vh;

  @media screen and (max-width: 1040px) {
    min-height: unset;
  }

  .my-experience {
    display: flex;
    margin-top: 50px;
    .titles {
      position: relative;
      .job-title {
        height: 40px;
        width: 200px;
        color: white;
        display: flex;
        align-items: center;
        padding-left: 20px;
        box-sizing: border-box;
        font-family: var(--dmsansfont);
        transition: 0.5s all;
        @media screen and (max-width: 1040px) {
          width: 150px;
          font-size: 12px;
        }
        cursor: pointer;
        &:hover {
          background-color: #64ffdb10;
        }
      }
      .side-bar {
        height: 40px;
        width: 1px;
        background-color: var(--lightcolor);
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.2s all;
        border-radius: 2px;
      }
      .side-bar2 {
        width: 1px;
        background-color: #64ffdb1b;
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.2s all;
        border-radius: 2px;
      }
    }

    .work-details {
      padding-left: 40px;
      h1 {
        font-family: var(--dmsansfont);
        color: var(--spacelight);
        @media screen and (max-width: 1040px) {
          font-size: 20px;
        }
        span {
          color: var(--lightcolor);
        }
      }
      h2 {
        font-size: 14px;
        color: var(--spacelight);
        opacity: 0.6;
        font-family: var(--dmsansfont);
        @media screen and (max-width: 1040px) {
          font-size: 10px;
        }
      }
      .works {
        margin-top: 30px;
        .work {
          margin-bottom: 20px;
          display: flex;
          .det {
            color: var(--spacelight);
            opacity: 0.6;
            font-family: var(--dmsansfont);
            text-align: justify;
            @media screen and (max-width: 1040px) {
              font-size: 14px;
            }
          }
          .dot {
            height: 6px;
            width: 6px;
            background-color: #64ffda;
            margin-right: 20px;
            border-radius: 6px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.portfolio {
  box-sizing: border-box;
  .my-portfolio {
    margin-top: 100px;
  }
  .portfolio-item {
    width: 100%;
    position: relative;
    margin-bottom: 150px;
    p {
      font-size: 12px;
      color: var(--lightcolor);
      font-family: var(--robotfont);
      letter-spacing: 4px;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 30px;
      color: white;
      font-family: var(--robotfont);
      font-weight: bold;
      letter-spacing: 2px;
      max-width: 35%;
      @media screen and (max-width: 1040px) {
        font-size: 20px;
      }
    }
    .date {
      display: flex;
      color: var(--lightcolor);
      font-size: 14px;
      align-items: center;
      margin-top: 6px;
      span {
        margin-left: 10px;
        font-family: var(--spacefont);
      }
    }
    .links {
      margin-top: 10px;
      a {
        margin-right: 20px;
        i {
          font-size: 20px;
          color: var(--spacelight);
        }
      }
    }
    .br {
      height: 1px;
      width: 40px;
      background-color: var(--lightcolor);
      margin-right: 6px;
    }
    .features {
      list-style-position: inside;
      background: #112240;
      padding: 20px;
      width: 50%;
      box-shadow: #2d2b2b27 0px 3px 8px;
      border-radius: 10px;
      margin-top: 20px;
      @media screen and (max-width: 1040px) {
        width: 65%;
      }
      li {
        margin-bottom: 10px;
        color: var(--spacelight);
        font-family: var(--dmsansfont);
        font-size: 14px;
      }
    }
    .banner {
      width: 60%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
    .technologies {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      .tech {
        margin-left: 10px;
        color: var(--spacelight);
        font-family: var(--spacefont);
        font-size: 10px;
        border: 1px solid rgba(255, 255, 255, 0.271);
        padding: 2px 6px;
        border-radius: 10px;
        font-weight: 100;
      }
    }
  }
}
.contact-me {
  padding-bottom: 100px;
  @media screen and (max-width: 1040px) {
    .section-title {
      padding-top: 0;
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-top: 40px;
      text-align: center;
      color: var(--spacelight);
      opacity: 0.6;
      font-family: var(--dmsansfont);
      span {
        color: var(--lightcolor);
      }
    }
    .say-hello-button {
      font-size: 20px;
      padding: 10px 30px;
      font-family: var(--codeprofont);
      border: 1px solid var(--lightcolor);
      background: transparent;
      color: white;
      border-radius: 10px;
      margin-top: 40px;
      cursor: pointer;
      transition: 0.5s all;
      &:hover {
        background-color: #64ffdb37;
      }
    }
  }
}

.footer {
  text-align: center;
  margin: 40px 0;

  a {
    color: var(--spacelight);
    transition: 1s all;
    font-size: 12px;
    letter-spacing: 3px;
    font-family: var(--robotfont);
    &:hover {
      color: var(--lightcolor);
    }
  }
}
.go-to-top {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 80px;
  opacity: 0;
  transition: 0.5s all;
  cursor: pointer;
  i {
    color: var(--lightcolor);
    font-size: 24px;
  }
}

@keyframes resumebutton {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
.brc {
  font-size: 14px;
}

@keyframes resumebutton2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-3600deg);
  }
}
.brc {
  font-size: 14px;
}
